@use "Variables" as *;

.create-message {
  padding-bottom: 35px;

  > div {
    width: 124px;
    height: 44px;
    background-color: $color1;
    color: $white1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}