@use "@/assets/styles/mixins" as *;

.history-message {
  height: 70%;
  @include scrollBar(rgba(255, 255, 255, .1), #555);

  > .history-message-item {
    > span {
      color: #8e8d8d;
      font-size: 14px;
      margin-bottom: 8px;
    }

    > ul {
      > li {
        color: white;
        width: 204px;
        height: 38px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        border-radius: 12px;
        cursor: pointer;
        margin-bottom: 8px;

        > p {
          width: 80%;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          text-wrap: nowrap;
        }

        &:not(.active):hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        &:nth-of-type(1) {
          margin-top: 8px;
        }
      }

      > .active {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}