@use "Mixins" as *;
@use "Variables" as *;

.history-message {
  height: 70%;
  @include scrollBar($side_bar3, $side_bar1);

  > .history-message-item {
    > span {
      color: $color5;
      font-size: 14px;
      margin-bottom: 8px;
    }

    > ul {
      padding-right: 10px;

      > li {
        color: $white1;
        width: 204px;
        height: 38px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        border-radius: 12px;
        cursor: pointer;
        margin-bottom: 8px;

        > p {
          width: 80%;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          text-wrap: nowrap;
        }

        &:not(.active):hover {
          background-color: $side_bar3;
        }

        &:nth-of-type(1) {
          margin-top: 8px;
        }
      }

      > .active {
        background-color: $white2;
      }
    }
  }
}