.inline-input {
  display: flex;
  justify-content: space-between;
  background-color: #404045ff;
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}