.input-box {
  width: 80%;
  padding: 15px;
  border-radius: 24px;
  background-color: #404045ff;
  display: flex;
  align-items: center;
}

.file-display {
  width: 79%;
  margin-left: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .file-name {
    font-size: 14px;
    color: white;
  }
}