@use "Variables" as *;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 100%;
  cursor: no-drop;
  color: $color7;
  background-color: $color8;
  font-size: 24px;
}

.active {
  color: $white1;
  background-color: $color1;
  cursor: pointer;
}