@use "Variables" as *;

.btn {
  width: 40px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 100%;
  cursor: no-drop;
  color: $color7;
  background-color: $color8;
}

.active {
  color: $white1;
  background-color: $color1;
  cursor: pointer;
}