@use "Variables" as *;

.message-tools {
  padding-top: 12px;
  display: flex;
  gap: 15px;

  > div {
    cursor: pointer;
    color: #ccd3deff;
    font-size: 20px;

    &:hover {
      color: $color1;
    }
  }
}