@use "Variables" as *;

.message-item {
  display: inline-block;
  color: $color2;
  border-radius: 14px;
  padding: 8px 20px;

  > .md {
    > *:last-child {
      margin-bottom: 0;
    }

    > :deep(pre) {
      position: relative;

      > div {
        position: absolute;
        right: 10px;
        top: 8px;
        border: none;
        background: transparent;
        color: #9e9e9e;
        cursor: pointer;

        &:hover {
          color: $color2;
        }
      }
    }
  }
}

.user {
  background-color: #414158;
}

.chat {
  background: transparent;
  width: 90%;
}