.message-item {
  display: inline-block;
  color: #f8faff;
  border-radius: 14px;
  padding: 8px 20px;

  > .md {
    > *:last-child {
      margin-bottom: 0 !important;
    }

    > :deep(pre) {
      position: relative;

      > button {
        position: absolute;
        right: 10px;
        top: 8px;
        border: none;
        background: transparent;
        color: #9e9e9e;
        cursor: pointer;
      }

      > code {

        > div {
          position: absolute;
          right: 7px;
          top: 5px;
          color: rgba(235, 235, 245, .38);
          transition: color 0.3s linear;
          cursor: pointer;

          &:hover {
            color: rgba(235, 235, 245);
          }
        }
      }
    }
  }
}

.user {
  background-color: #414158;
}

.assistant {
  background: transparent;
  width: 90%;
}