@use "Mixins" as *;
@use "Variables" as *;

.message-list {
  width: 80%;
  height: 100%;
  padding: 10px 15px;
  @include scrollBar($side_bar3, $side_bar1);

  > ul {
    > li {
      margin-bottom: 30px;
      display: flex;
    }

    > .user {
      justify-content: flex-end;
    }

    > .chat {
      background: transparent;
    }
  }
}