@use "Variables" as *;

.message-item {
  display: inline-block;
  color: $white1;
  border-radius: 14px;
  padding: 8px 20px;

  > .md {
    > *:last-child {
      margin-bottom: 0;
    }

    > :deep(pre) {
      position: relative;

      > div {
        position: absolute;
        right: 10px;
        top: 8px;
        border: none;
        background: transparent;
        color: $color5;
        cursor: pointer;

        &:hover {
          color: $white1;
        }
      }
    }
  }
}

.user {
  background-color: $color6;
}

.chat {
  background: transparent;
  width: 90%;
}