@use "@/assets/styles/mixins" as *;

.message-list {
  width: 80%;
  height: 100%;
  padding: 10px 15px;
  overflow-y: auto;
  @include scrollBar(rgba(255, 255, 255, .1), #555);

  > ul {
    > li {
      margin-bottom: 30px;
      display: flex;
    }

    > .user {
      justify-content: flex-end;
    }
  }
}