@mixin scrollBar($barColor, $thumbColor, $width: 10px) {
  overflow-y: auto;

  &::-webkit-scrollbar {
    border-radius: 10px;
    width: $width;
    background-color: $barColor;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $thumbColor;
  }
}