.side-bar {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    background-color: #303137;
    z-index: 2;
    transition: all 0.2s ease-in-out;

    &.collapsed {
        width: 64px;
        @media (max-width: 760px) {
            position: absolute;
            left: 0;
            background-color: transparent;
        }
    }
    .fold-btn {
        cursor: pointer;
    }
    .menu {
        width: 100%;
        padding: 25px 10px 34px 20px;
        display: flex;
        flex-direction: row-reverse;

        
    }

    @media (max-width: 760px) {
        position: absolute;
        left: 0;
    }
}