.side-bar {
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #303137;
    transition: all 0.2s ease-in-out;
    z-index: 2;

    &.collapsed {
        width: 64px;
        @media (max-width: 760px) {
            position: absolute;
            left: 0;
            background-color: transparent;
        }
    }

    .menu {
        width: 100%;
        padding: 25px 10px 34px 20px;
        display: flex;
        flex-direction: row-reverse;

        span {
            cursor: pointer;
        }
    }

    @media (max-width: 760px) {
        position: absolute;
        left: 0;
    }
}