@use "Mixins" as *;
@use "Variables" as *;

.text-area {
  > textarea {
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: transparent;
    resize: none;
    color: $color2;
    @include scrollBar(#555, rgba(255, 255, 255, .2), 6px);
  }
}