@use "Mixins" as *;
@use "Variables" as *;

.text-area {
  margin-right: 20px;

  > textarea {
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: transparent;
    resize: none;
    color: $white1;
    @include scrollBar($side_bar1, $side_bar2, 6px);
  }
}