@use "Mixins" as *;

.text-area {
  > textarea {
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: transparent;
    resize: none;
    @include scrollBar(#555, rgba(255, 255, 255, .2));
  }
}