$color1: #4d6bfe;
$white1: white;
$white2: rgba(255, 255, 255, 0.3);
$color3: #404045;
$color4: #303137;
$color5: #8e8d8d;
$color6: #414158;
$color7: #4b4b5cff;
$color8: #72727aff;
$color9: #aab1bdff;
$danger1: #ff2b2b;
$danger2: rgba(255, 113, 113, 0.3);
$side_bar1: #555;
$side_bar2: rgba(255, 255, 255, 0.2);
$side_bar3: rgba(255, 255, 255, 0.1);